<% provide(:title, "Sign In") %>

<div>
  <h1>Sign In</h1>
</div>
<div>
  <%= form_for(:session, url: sessions_path) do |f| %>
    <div>
      <%= f.label :username %><br>
      <%= f.text_field :username %>
    </div>
    <div>
      <%= f.label :password %><br>
      <%= f.password_field :password %>
    </div>
    <div>
      <%= f.submit "Sign In" %>
    </div>
  <% end %>
</div>
