<div>
  <h2><%= @article.title %></h2>
  <div>
    <%= @article.text %>
  </div>
  <div class="article-date">
    <%= @article.created_at.to_formatted_s(:long_ordinal) %>
  </div>
  <% if signed_in? %>
    <div>
      <%= link_to 'Edit', edit_article_path(@article) %> |
      <%= link_to 'Destroy', @article, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>
</div>
